version: '3.7'
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./main:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=pguser
      - POSTGRES_PASSWORD=pgpassword
      - POSTGRES_DB=django_dev
  redis:
    image: redis:alpine
  celery:
    restart: always
    build:
      context: .
    command: celery -A main worker -l info
    volumes:
      - ./main:/usr/src/app/
    environment:
      - DB_HOST=db
      - DB_NAME=django_dev
      - DB_USER=pguser
      - DB_PASS=pgpassword
    depends_on:
      - web
      - redis
      - db
volumes:
  postgres_data:
  