{% extends 'main/base.html' %}
{% block title %} Список товаров {% endblock %}
{% block page_content %}
{% block page_header %} Товары {% endblock %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование товара</th>

    </tr>
    </thead>
    <tbody>
        {% for good in object_list %}
        <tr>
            <td><a href = "{{ good.id }}/"> {{ good.name }} </a> </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
    {% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class = "page-link">Назад</a>

            {% endif %}
                <a href="?page=1" class="page-link">1</a>
            {% if page_obj.paginator.num_pages > 2 %}
             <a href="?page=2" class="page-link">2</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперед</a>
            {% endif %}
    </ul>
    <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>
</nav>
    {% endif %}
{% endblock %}