{% extends 'main/base.html' %}
{% block title %} Список товаров {% endblock %}
{% block page_content %}
{% block page_header %} {{ good.name}} {% endblock %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ good.name }}</h5>
    <p class="card-text">{{ good.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Цена:</b> {{ good.price }}</li>
      <li class="list-group-item"><b>Продавец:</b> {{ good.seller }}</li>
      <li class="list-group-item"><b>Категория:</b> {{ good.category }}</li>
      <li class="list-group-item"><b><a href = "{% url 'good-edit' good.id %}">Редактировать</a></li>
  </ul>
</div>
{% endblock %}