{% extends request.mobile_version|yesno:'main/base_mobile.html,main/base.html' %}
{% block meta %}
<meta name="description" content="Different People. Different Interests. Different Goods. Find yours.">
<meta name="keywords" content="E-Commerce, Market, Товары, Купить, Редактировать">
{% endblock %}
{% block title %} Список товаров {% endblock %}
{% block page_content %}
{% block page_header %} Товары {% endblock %}
{% if perms.main.add_good %}
<a style="display:block; text-align: right;" href = "{% url 'good-add' %}"> Добавить товар </a>
{% endif %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Наименование товара</th>
        <th scope="col">Тэги</th>

    </tr>
    </thead>
    <tbody>
        {% for good in object_list %}
        <tr>
            <td><a href = "{% url 'good-detail' good.id %}"> {{ good.name }} </a> </td>
            <td>
                {% for tag in good.tags.all %}
                <a href = "{% url 'goods' %}?tag={{tag.name}}"> {{ tag.name }} </a>
                {% endfor %}
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
    {% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url 'goods' %}?tag={{ tag }}&page={{ page_obj.previous_page_number }}" class = "page-link">Назад</a>

            {% endif %}
                <a href="{% url 'goods' %}?tag={{ tag }}&page=1" class="page-link">1</a>
            {% if page_obj.paginator.num_pages > 2 %}
             <a href="{% url 'goods' %}?tag={{ tag }}&page=2" class="page-link">2</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="{% url 'goods' %}?tag={{ tag }}&page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
                <a href="{% url 'goods' %}?tag={{ tag }}&page={{ page_obj.next_page_number }}" class="page-link">Вперед</a>
            {% endif %}
    </ul>
    <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>
</nav>
    {% endif %}
{% endblock %}