{% load thumbnail %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="/">E-Commerce #1</a>
    {% if user.is_authenticated %}
         <div class="user_auth">
              <div style="margin-right:10px">
              {% thumbnail user.profile.image "45x45" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
              </div>
          <div class="user-login">
                <span class="user-name"> {{ user.username }} </span>
                <a class="nav-link user-exit" href="{% url 'account_logout' %}">Выход</a>
              {% else %}
                  <a class="nav-link user-exit" href="{% url 'account_login' %}">Войти в систему</a>
              {% endif %}
              </div>
         </div>


          <form class="form-inline my-2 my-lg-0" action = "{% url 'goods' %}">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" name="q">
              <a href="#"><img src="https://i.ibb.co/SB0z3qk/magnifying-glass.png"  width="20px" alt="magnifying-glass" border="0" /></a>
<!--                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>-->
          </form>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Главная <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/goods/">Товары</a>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/delivery/">Доставка и оплата</a>
                        <a class="dropdown-item" href="/contacts/">Контакты</a>
                          <a class="dropdown-item" href="/about/">О нас</a>
                      </div>
                    </li>
              </ul>
          </div>
  </nav>

