{% extends request.mobile_version|yesno:'main/base_mobile.html,main/base.html' %}
{% load server_time %}
{% load reverse %}
{% block title %}
{{ flatpage.title }}
{% endblock %}
{% block page_header %}
{% if flatpage.title %} {{ flatpage.title }} {% else %} Добро пожаловать на E-Commerce #1{% endif %}
{% endblock %}
{% block page_content%}
{{ flatpage.content }}
{% if turn_on_block %}
{% load static %}

<div itemscope="" itemtype="http://schema.org/Organization">
    <a itemprop="url" href="#">E-Commerce #1</a>
    <img itemprop="logo" src="{% static 'logo.png' %}">
</div>

{% endif %}
{% endblock %}
