{% extends request.mobile_version|yesno:'main/base_mobile.html,main/base.html' %}
{% block meta %}
<meta name="description" content="You can edit any information about your profile">
<meta name="keywords" content="E-Commerce, Market">
{% endblock %}
{% block title %} Профиль {% endblock %}
{% block page_header %} Профиль {% endblock %}
{% block page_content %}

<p> {{ request.session.confirm_message }} </p>
<form method="post">
    {% csrf_token %}
        {{ form.as_p }}
    {{ profile_form.management_form }}
    {% for inline_form in profile_form %}
        {{ inline_form }}
    {% endfor %}
    <br>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% if not user.profile.phone_confirmed %}
<a href = "/accounts/profile/phone_confirm"> Подтвердить номер телефона</a>
{% endif %}
{% endblock %}